@model ApprovalIntelogix.Models.Employees

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employees</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPayRoll)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPayRoll)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoEmp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoEmp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cellphone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cellphone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayRollRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayRollRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDepartment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdManager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdManager)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdmissionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdmissionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthplace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthplace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nss)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nss)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rfc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rfc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Infonavit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Infonavit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CtaBbva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CtaBbva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fonacot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fonacot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pic2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pic2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameEm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameEm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneEm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneEm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CellEm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CellEm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelationEm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelationEm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPositionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPositionNavigation.IdPosition)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdEmployee" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
